.gallery__container {
  margin-bottom: 40px;
}

.gallery__header {
  margin: 0 0 34px;
}

.gallery__cards {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 325px));
  gap: 20px;
  justify-content: center;
}

.gallery__card {
  cursor: pointer;
  height: 328px;
  max-width: 325px;
  border: solid 1px #0000004d;
  border-radius: 20px;
  padding-top: 15px;
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.gallery__card-title-container {
  display: inline-block;
  background-color: #fff;
  height: min-content;
  padding: 2px 12px;
  border-radius: 4px;
}

.gallery__card-title {
  margin: 0;
  color: #0009;
}
