.gallery__container {
  margin-bottom: 40px;
}

.gallery__header {
  margin: 0 0 34px;
}

.gallery__cards {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 325px));
  gap: 20px;
  justify-content: center;
}

.gallery__cards_location_profile {
  margin-top: 16px;
}

.gallery__card {
  list-style: none;
}

.gallery__card-content {
  height: 328px;
  max-width: 325px;
  border: solid 1px #0000004d;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.gallery__card-header {
  z-index: 1;
  position: absolute;
  top: 15px;
}

.gallery__card-title {
  display: inline;
  margin: 0 10px 0 0;
  color: #0009;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
}

.gallery__card-image {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.gallery__like-button,
.gallery__like-button_selected {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 15px;
  cursor: pointer;
}

.gallery__like-button {
  background-image: url("../assets/unselectedLikeBtn.svg");
}

.gallery__like-button_selected {
  background-image: url("../assets/selectedLikeBtn.svg");
}
