.header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
}

.header__container {
  margin-bottom: 28px;
}

.header__left-side,
.header__right-side {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__toggle-switch {
  margin-right: 20px;
}

.header__add-clothes-btn,
.header__signup-btn,
.header__login-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.header__signup-btn {
  margin-right: 20px;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__date-loc,
.header__name {
  margin: 0;
}

.header__name {
  margin-left: 20px;
}

.header__avatar,
.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  border-radius: 50%;
  border: 1px solid #00000080;
}

.header__avatar-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000033;
  color: #ffffff;
}
