.modal {
  display: none;
}

.modal_opened {
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal__item {
  position: relative;
  width: 498px;
  height: 610px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto;
}

.modal__image {
  height: 100%;
  width: 100%;
}

.modal__close-btn {
  background-image: url("../assets/close-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
}

.modal__close-btn_container_enlg-item {
  background-image: url("../assets/item-modal_close-btn.svg");
  height: 20px;
  width: 20px;
  top: 24px;
  right: 24px;
}

.modal__caption {
  font-size: 20px;
  line-height: 1.2;
  display: grid;
  gap: 12px;
  padding: 32px;
}

.modal__item-name,
.modal__weather {
  margin: 0;
}
