.sidebar {
  width: 100%;
}

.sidebar__profile {
  display: inline-flex;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  display: inline;
  margin-right: 16px;
}

.sidebar__name {
  font-size: 20px;
  display: inline;
  vertical-align: middle;
}
